# Java class files
*.class

# Eclipse project files
.classpath
.project
.settings/

# Intellij project files
.idea
**/*.iml
**/*.ipr
**/*.iws
**/.idea

.DS_Store/
/target

/target
/target/
**/target/

.DS_Store

secret_env.sh
